# все что будет написано после решетки будет проигнорированнно
# сперва я напишу то что считаю нужным, а потом дополю список предложенный честером
.venv/
db.sqlite3

# это все что у меня есть что как мне кажется нужно заигнорить, но честер предлогает еще и
__pycache__/
*.pyc
instance/
.env
