body{
    font-family: sans-serif;
    max-width: 650px;
    margin: 40px auto;
    padding: 0 20px;
    background: #36304400;
    background-color: #76797a;
    color: #5c5b5b;
    }

h1{
    color: #61b5d1;
    text-align: center;
}
h2{
    color: #61b5d1;
}

p{
    color: rgb(73, 66, 67);
}

form {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"]{
    flex: 1;
    padding: 10px;
    font-size: 1em;
}

button{
    padding: 10px 20px;
    background-color: #4770c9;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

ul{
    list-style: none;
    padding-left: 0;
}

li{
    padding: 10px;
    margin: 5px 0;
    background: rgb(182, 173, 173);
    display: flex;
    justify-content: space-between;
    border-left: 5px solid #2196F3;
}

a{
    color: #e53935;
    text-decoration: none;
    font-weight: bold;
}